name: Build and deploy Python app to Azure Web App - app-uanfilms-backend-prueba

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write 
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Zip artifact for deployment

        run: zip -r release.zip .

      - name: Login to Azure
        
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_6EC75349D71E433497131B337840DE17 }} 
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_80B2770A95A946BAB2D4763CBF4B11D9 }} 
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_9053BADAB27D4DEEB1335D8598B6E462 }} 

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'app-uanfilms-backend-prueba'
          package: release.zip

