name: Build and deploy Python app to Azure Web App - app-uanfilms-backend-prueba

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Create and install dependencies
        run: |
          # Creamos un directorio de paquetes que SÍ incluiremos en el zip
          mkdir -p ./.python_packages/lib/site-packages
          pip install --target=./.python_packages/lib/site-packages -r ./uanfilms_backend/requirements.txt
      
      - name: Zip artifact for deployment
        run: |
          # Nos movemos al directorio del proyecto para que la estructura del zip sea correcta
          cd uanfilms_backend
          zip -r ../release.zip .
          cd ..
          # Añadimos los paquetes instalados al mismo zip
          cd .python_packages/lib/site-packages
          zip -r ../../../../release.zip .
          
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    permissions:
      id-token: write # Required for requesting the JWT
      contents: read # Required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_6EC75349D71E433497131B337840DE17 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_80B2770A95A946BAB2D4763CBF4B11D9 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_9053BADAB27D4DEEB1335D8598B6E462 }}

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'app-uanfilms-backend-prueba'
          slot-name: 'Production'
          package: python-app/release.zip # La ruta del paquete descargado
